<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/SAP}" th:object="${product}" method="post">

  <input type="text" id="name"  th:field="*{name}" required/>
  <input type="number" id="price"  th:field="*{price}" required/>
    <input type="number" id="quant"  th:field="*{quantity}" required/>

    <button type="submit">submit</button>
    <!--
     <h3>Upload image</h3>
     <form method="POST" enctype="multipart/form-data" th:action="@{/image/upload}">
           <input type="file" name="file" accept="image/*" required />
           <button type="submit">Upload Image</button>
       </form>-->
</form>
</body>
</html>