<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../css/admin/style.css">
</head>
<body bgcolor="#696969">
<center>
    <div class="title">
        <h2>Admin</h2>
        <div class="buttons">
            <a th:href="@{/product/add}"><button>Add</button></a>
        </div>
    </div>
</center>
<div class="tables">
    <div class="user-table">
        <table border="2px">
            <tr><td>№</td>
                <td>Username</td>
                <td>Password</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Name1</td>
                <td>Password1</td>
            </tr>
        </table>
    </div>
    <div class="products">
        <form action="#" th:action="@{/product/sortByPrice}" method="get">
            <select name="order" th:value="${order}">
                <option value="price_high_to_low">Price High to Low</option>
                <option value="low_to_high">Low to High</option>
            </select>
            <button type="submit">Sort</button>
        </form>
        <table border="2px">
            <tr >
                <td>Id</td>
                <td>Product name</td>
                <td>Product price</td>
                <td>product quantity</td>
                <td>product image</td>
                <td>features</td>
            </tr>
            <tr th:each="product: ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="'$' + ${product.price}"></td>
                <td th:text="${product.quantity}"></td>
                <td>      <img style="width: 100px; height: 50px;"
                               th:src="@{'/product/'+${product.id}}"
                               th:alt="${product.name}" alt="Image"></td>
                <td>
                    <form th:action="@{/product/delete/{id}(id=${product.id})}"><button type="submit">Delete</button></form>
                    <form th:action="@{/product/edit/{id}(id=${product.id})}"><button type="submit">Edit</button></form></td>

        </table>
    </div>
</div>
</body>
</html>
