<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
<header>
    <h1>Add a product</h1>
</header>
<div class="buttons">
    <a th:href="@{/product/admin}"><button>Admin page</button></a>

</div>
<form th:action="@{save}" th:object="${product}" method="POST" enctype="multipart/form-data">

    <label for="name">Product Name</label>
    <input type="text" name="name" id="name" th:field="*{name}" placeholder="name" required/>

    <label for="quant">Product Quantity</label>
    <input type="text" name="quant" id="quant" th:field="*{quantity}" placeholder="quantity" required/>

    <label for="price">Product price</label>
    <input type="text" name="price" id="price" th:field="*{price}" placeholder="price" required/>

    <label for="image">Product Image</label>
    <input type="file" name="image" id="image" th:field="*{image}" required/>

<button type="submit">Save</button>

    
</form>
</body>
</html>