<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Hexashop - Mahsulotlar Ro'yxati Sahifasi</title>


    <!-- Qo'shimcha CSS Fayllar -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">

    <link rel="stylesheet" href="/assets/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="/assets/css/lightbox.css">
    <!--

    TemplateMo 571 Hexashop

    https://templatemo.com/tm-571-hexashop

    -->
</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="/assets/images/logo.png">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="index.html" class="active">Asosiy</a></li>
                        <li class="scroll-to-section"><a th:href="@{/user/product_women/2}">Ayollar</a></li>
                        <li class="scroll-to-section"><a th:href="@{/user/product_kids/3}">Bolalar</a></li>
                        <li class="submenu">
                            <a href="javascript:;">Sahifalar</a>
                            <ul>
                                <li><a href="about.html">Biz haqimizda</a></li>
                                <li><a th:href="@{/user/products}">Mahsulotlar</a></li>
                                <li><a href="single-product.html">Yagona Mahsulot</a></li>
                                <li><a href="contact.html">Aloqa</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:;">Xususiyatlar</a>
                            <ul>
                                <li><a href="#">Xususiyatlar Sahifasi 1</a></li>
                                <li><a href="#">Xususiyatlar Sahifasi 2</a></li>
                                <li><a href="#">Xususiyatlar Sahifasi 3</a></li>
                                <li><a rel="nofollow" href="https://templatemo.com/page/4" target="_blank">Shablon Sahifasi 4</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a th:href="@{/product/admin}">Kashf etish</a></li>
                        <li class="fa fa-shopping-cart"><a th:href="@{/user/cart}"></a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menyu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Erkaklar uchun</h2>
                    <span>TemplateMo tomonidan ajoyib &amp; ijodiy HTML CSS tartibi</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->


<!-- ***** Mahsulotlar Maydoni Starts ***** -->
<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Bizning So'nggi Mahsulotlarimiz</h2>
                    <span> Barcha mahsulotlarimizni ko'ring</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-4" th:each="product_men:${product_men}">
                <div class="item">
                    <div class="thumb">
                        <div class="hover-content">
                            <ul>
                                <li><a th:href="@{/client/single_product/{id}(id=${product_men.id})}"><i class="fa fa-eye"></i></a></li>
<!--                                <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>-->
<!--                                <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>-->
                            </ul>
                        </div>
                        <img style="height: 300px;width: 300px" th:src="@{'/product/' + ${product_men.id}}"
                             th:alt="${product_men.name}" alt="rasm">
                    </div>
                    <div class="down-content">
                        <h4 th:text="${product_men.name}"></h4>
                        <span th:text="${product_men.price}"></span>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ***** Mahsulotlar Maydoni Ends ***** -->

<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="logo">
                        <img src="/assets/images/white-logo.png" alt="hexashop e-commerce templatemo">
                    </div>
                    <ul>
                        <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, AQSh</a></li>
                        <li><a href="#">hexashop@company.com</a></li>
                        <li><a href="#">010-020-0340</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Savdo va Kategoriyalar</h4>
                <ul>
                    <li><a href="#">Erkaklar Savdosi</a></li>
                    <li><a href="#">Ayollar Savdosi</a></li>
                    <li><a href="#">Bolalar Savdosi</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Foydali Havolalar</h4>
                <ul>
                    <li><a href="#">Bosh sahifa</a></li>
                    <li><a href="#">Biz haqimizda</a></li>
                    <li><a href="#">Yordam</a></li>
                    <li><a href="#">Aloqa</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Yordam va Ma'lumotlar</h4>
                <ul>
                    <li><a href="#">Yordam</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Yetkazib berish</a></li>
                    <li><a href="#">Izlash ID</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>Mualliflik huquqi © 2022 HexaShop Co., Ltd. Barcha huquqlar himoyalangan.

                        <br>Dizayn: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a></p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- jQuery -->
<script src="/assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="/assets/js/popper.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Plaginlar -->
<script src="/assets/js/owl-carousel.js"></script>
<script src="/assets/js/accordions.js"></script>
<script src="/assets/js/datepicker.js"></script>
<script src="/assets/js/scrollreveal.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>
<script src="/assets/js/imgfix.min.js"></script>
<script src="/assets/js/slick.js"></script>
<script src="/assets/js/lightbox.js"></script>
<script src="/assets/js/isotope.js"></script>

<!-- Global Init -->
<script src="/assets/js/custom.js"></script>

<script>

    $(function() {
        var selectedClass = "";
        $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
            $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
                $("."+selectedClass).fadeIn();
                $("#portfolio").fadeTo(50, 1);
            }, 500);

        });
    });

</script>

</body>

</html>
